/* include local fonts */
@font-face {
    font-family: "WorkSans-Italic";
    src: url("../worksans/WorkSans-Italic-VF.ttf") format("truetype-variations");
}

@font-face {
    font-family: "WorkSans-Roman";
    src: url("../worksans/WorkSans-Roman-VF.ttf") format("truetype-variations");
}


html, body{
    height: 100%;
    margin: 0;
    padding: 0;  
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1{
    margin: 0;
    font-family: "WorkSans-Roman";
    /* font-variation-settings: this property allows to access font variable axis*/
    /* wght value: font weight axis*/
    /* Worksans only has one variation axis (weight)
       Go to example two to see two variables axis example     
    */
    font-variation-settings: "wght" 600;
    color: #00AEEF;
}
h2{
    font-family: "WorkSans-Italic";
    font-variation-settings: "wght" 300;
    color: gray;
}
